@import "tailwindcss";
@import "tailwindcss/theme" layer(theme);

@layer utilities {
    .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: oklch(0.508 0.118 165.612);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: oklch(0.696 0.17 162.48);
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: oklch(0.596 0.145 163.225);
  }
}